@model FinalProjectKursItra.ViewModels.CreateViewModel
@{
    ViewData["Title"] = "Create";
}
<h2>Create Task</h2>
<a asp-action="Index">Back</a>
<hr />
@{
    string id = Model.AuthorId;
}
<div class="row">
    @{
       await Html.RenderPartialAsync("_CreateCompany", new FinalProjectKursItra.ViewModels.CreateCompanyViewModel() { AuthorId = id, });
    }
</div>
