@model FinalProjectKursItra.ViewModels.CreateViewModelForNews
@{
    ViewData["Title"] = "Create";
}
<h2>Create Task</h2>
<a asp-action="Index">Back</a>
<hr />
@{
    string authorId = Model.AuthorId;
    string companyId = Model.CompanyId;
}
<div class="row">
    @{
        Html.RenderPartial("_CreateNews", new FinalProjectKursItra.ViewModels.CreateNewsViewModel() { AuthorId = Model.AuthorId, CompanyId = Model.CompanyId, });
    }
</div>
